body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#name {
  width: 70%;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: fixed;
  left: 50%; /* 中央に配置 */
  top: 50%; /* 中央に配置 */
  transform: translate(-50%, -50%); /* 中央に配置 */
}

.form-group {
  margin: 10px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#modalContent {
  background-color: #fefefe;
  margin: 0; /* モーダル内のマージンをゼロに */
  padding: 20px;
  border: 1px solid #888;
  position: relative; /* 絶対位置の要素を含むため */
}

/* ローディングメッセージのスタイル */
#loadingMessage {
  display: none; /* デフォルトで非表示 */
  position: fixed; /* ビューポートに対して固定 */
  top: 50%; /* ビューポートの中央 */
  left: 50%; /* ビューポートの中央 */
  transform: translate(-50%, -50%); /* 中央に配置 */
  color: #333; /* テキストの色 */
  font-weight: bold; /* 太字 */
  z-index: 2; /* モーダルの上に表示 */
  background-color: white; /* 背景色 */
  padding: 10px; /* 余白 */
  border: 1px solid #888; /* 枠線 */
  width: 200px;
  height: 200px;

  /* 中央揃えのためのスタイル */
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  text-align: center; /* テキストの中央揃え */
}


